<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:extractNativeLibs="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_pelindo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_pelindo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPMTSafetyBriefingApp"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.spmtsafetybriefingapp.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.oauth_client"
            android:value="1087302776142-1n579lshafbdh52ermu33kfi7shplb2l.apps.googleusercontent.com"/>

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

        <activity
            android:name=".FormSafetyBriefingActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

        <activity
            android:name=".LoginRegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

        <activity
            android:name=".DetailSafetyBriefingActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

        <activity
            android:name=".AbsensiResultActivity"
            android:exported="true"
            android:theme="@style/Theme.SPMTSafetyBriefingApp" />

    </application>

</manifest>
